<div class="app-footer" nz-row>
  <div class="item" nz-col nzSpan="6">
    <a class="link" routerLink="./message" routerLinkActive="active">
      <i nz-icon nzType="message" nzTheme="outline"></i>
      <span class="text">聊天</span>
    </a>
  </div>
  <div class="item" nz-col nzSpan="6">
    <a class="link" routerLink="./addressBook" routerLinkActive="active">
      <i nz-icon nzType="solution" nzTheme="outline"></i>
      <span class="text">通讯录</span>
    </a>
  </div>
  <div class="item" nz-col nzSpan="6">
    <a class="link" routerLink="./moment" routerLinkActive="active">
      <i nz-icon nzType="picture" nzTheme="outline"></i>
      <span class="text">时刻</span>
    </a>
  </div>
  <div class="item" nz-col nzSpan="6">
    <a class="link" routerLink="./myInfo" routerLinkActive="active">
      <i nz-icon nzType="user" nzTheme="outline"></i>
      <span class="text">我的</span>
    </a>
  </div>
</div>
