<div class="sign-up-content">
  <form class="form-container" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzXs]="6" nzRequired nzFor="email">{{'signUp.emailText' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="18" [nzXs]="18" >
        <input nz-input formControlName="email" id="email" />
        <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
            {{'signUp.emailDirty' | translate }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired nzFor="username">{{'signUp.userText' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input formControlName="username" />
          <nz-form-explain *ngIf="validateForm.get('username')?.dirty && validateForm.get('username')?.hasError('required')">
              {{'signUp.userDirty' | translate }}
          </nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="password" nzRequired>{{'signUp.passwordText' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
        <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
          >{{'signUp.passwordDirty' | translate }}</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="checkPassword" nzRequired>{{'signUp.checkPasswordText' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
        <nz-form-explain
          *ngIf="validateForm.get('checkPassword')?.dirty && validateForm.get('checkPassword')?.errors"
        >
          <ng-container *ngIf="validateForm.get('checkPassword')?.hasError('required')">
              {{'signUp.checkPasswordDirty' | translate }}
          </ng-container>
          <ng-container *ngIf="validateForm.get('checkPassword')?.hasError('confirm')">
              {{'signUp.checkPasswordError' | translate }}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="phoneNumber" nzRequired>{{'signUp.telphoneText' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="validateForm.controls['phoneNumber']">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              <nz-option nzLabel="+87" nzValue="+87"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('phoneNumber')?.dirty && validateForm.get('phoneNumber')?.errors"
          >{{'signUp.telphoneDirty' | translate }}</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="sex" nzRequired>{{'commom.ganderText' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="validateForm.controls['sex']">
        <nz-radio-group formControlName="sex">
          <label nz-radio nzValue="1">{{'commom.maleText' | translate }}</label>
          <label nz-radio nzValue="2">{{'commom.femaleText' | translate }}</label>
        </nz-radio-group>
        <nz-form-explain *ngIf="validateForm.get('sex')?.dirty && validateForm.get('sex')?.errors">
            {{'signUp.ganderDirty' | translate }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!-- 提交按钮 -->
    <nz-form-item nz-row style="margin-bottom:10px;">
        <nz-form-control [nzSpan]="12" >
          <button nz-button nzType="primary" nzBlock>{{'signUp.signUpText' | translate }}</button>
        </nz-form-control>
      </nz-form-item>

  </form>
</div>